@import url("https://fonts.googleapis.com/css2?family=Solway&display=swap");

body {
    margin: 1.25%;
    background-color: rgb(39, 39, 39);
}

header {
    background-color: rgb(69, 69, 69);
    margin-bottom: 30px;
}

footer {
    margin-top: 10px;
    background-color: rgb(69, 69, 69);
    text-align: center;
    padding: 10px 0;
    font-family: 'Solway', serif;
}
h1 {
    text-align: center;
    padding: 15px 0;
    color: rgb(39, 39, 39);
    font-family: 'Solway', serif;
}

h2 {
    text-align: center;
    padding: 15px 0;
    color: rgb(39, 39, 39);
    font-family: 'Solway', serif;
}

.header {
    text-align: center;
    padding: 10px 0;
    font-family: 'Solway', serif;
}

.header_nupud {
    border-style: solid;
    border-color:rgb(69, 69, 69);
    border-width: 5px;
    background-color: rgb(39, 39, 39);
    padding: 5px 25px 5px 25px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 10px;
    font-family: 'Solway', serif;
    text-decoration-line: none;
    color: rgb(69, 69, 69); 
    font-size: 25px;
    cursor: pointer;
    transition: 0.6s ease;
}

.header_nupud:hover {
    
    background-color: rgb(69, 69, 69);
    padding: 5px 25px 5px 25px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 10px;
    font-family: 'Solway', serif;
    color: rgb(39, 39, 39); 
    font-size: 25px;
    cursor: pointer;
}

.footer_nupud {
    padding-right: 30px;
    padding-left: 30px;
    font-family: 'Solway', serif;
    color: rgb(39, 39, 39); 
    font-size: 25px;
}

.logod {
    padding-right: 5px;
    padding-left: 5px;
}